:root, [data-bs-theme=light] {
  --bs-primary: #ffd9f0;
  --bs-primary-rgb: 255,217,240;
  --bs-primary-text-emphasis: #665760;
  --bs-primary-bg-subtle: #FFF7FC;
  --bs-primary-border-subtle: #FFF0F9;
  --bs-body-font-family: Comic Sans MS, sans-serif;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffd9f0;
  --bs-btn-border-color: #ffd9f0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFDFF2;
  --bs-btn-hover-border-color: #FFDDF2;
  --bs-btn-focus-shadow-rgb: 38,33,36;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFE1F3;
  --bs-btn-active-border-color: #FFDDF2;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffd9f0;
  --bs-btn-disabled-border-color: #ffd9f0;
}

.btn-outline-primary {
  --bs-btn-color: #ffd9f0;
  --bs-btn-border-color: #ffd9f0;
  --bs-btn-focus-shadow-rgb: 255,217,240;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffd9f0;
  --bs-btn-hover-border-color: #ffd9f0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffd9f0;
  --bs-btn-active-border-color: #ffd9f0;
  --bs-btn-disabled-color: #ffd9f0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffd9f0;
}

[data-bs-theme=dark] {
  --bs-primary: #9f54ff;
  --bs-primary-rgb: 159,84,255;
  --bs-primary-text-emphasis: #C598FF;
  --bs-primary-bg-subtle: #201133;
  --bs-primary-border-subtle: #5F3299;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #9f54ff;
  --bs-btn-border-color: #9f54ff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #AD6EFF;
  --bs-btn-hover-border-color: #A965FF;
  --bs-btn-focus-shadow-rgb: 24,13,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B276FF;
  --bs-btn-active-border-color: #A965FF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #9f54ff;
  --bs-btn-disabled-border-color: #9f54ff;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #9f54ff;
  --bs-btn-border-color: #9f54ff;
  --bs-btn-focus-shadow-rgb: 159,84,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #9f54ff;
  --bs-btn-hover-border-color: #9f54ff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #9f54ff;
  --bs-btn-active-border-color: #9f54ff;
  --bs-btn-disabled-color: #9f54ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #9f54ff;
}

